@model Zteam.Models.Game

@{
    ViewData["Title"] = "Game Details";
}

<h2>@Model.GameName</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Game ID:</dt>
        <dd class="col-sm-10">@Model.GameId</dd>

        <dt class="col-sm-2">Game Name:</dt>
        <dd class="col-sm-10">@Model.GameName</dd>

        <dt class="col-sm-2">Game Info:</dt>
        <dd class="col-sm-10">@Model.GameInfo</dd>

        <dt class="col-sm-2">Price:</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Release Date:</dt>
        <dd class="col-sm-10">@Model.ReleaseDate</dd>

        <dt class="col-sm-2">Rating:</dt>
        <dd class="col-sm-10">@Model.Rating</dd>

    </dl>
</div>

<div>
    <a asp-action="AllGame" class="btn btn-primary">Back to List</a>
</div>